<html>
<head>
    <link rel="stylesheet" href="../styles/clinicalPrint.css" media="print" ng-if="!userLanguageDirRtl"/>
    <link rel="stylesheet" href="../styles/clinicalPrint-rtl.css" media="print" ng-if="userLanguageDirRtl"/>
</head>
<body>
    <div class="section">
     <div class="print-wrapper print-patient-summary" id="printrow">
        <div class="print-header"   id="fromPrint">
            <img src="/bahmni_config/openmrs/apps/registration/registrationCardLayout/images/Syrialogo.png" style="width: 40mm; height: 40mm;"/> 
        </div>
        <div  class="print-header"  id="fromtext">
             <h2> 
                {{"HOSPITAL_NAME_ADRESS" |translate}}<br>{{"HOSPITAL_NAME_ADRES1" |translate}}<br>{{"HOSPITAL_NAME" |translate}}<br>
                {{"HOSPITAL_NAME_LOCATION" |translate}}<br>{{"HOSPITAL_NAME_WEBSITE" |translate}}<br>{{"HOSPITAL_NAME_EMAIL" |translate}}
             </h2>      
        </div>
    </div>   
</div>   
<div class="patientInformation" class="section" style="margin:0px !important;padding:0px 0px !important; clear:both;">
            <section class="block dashboard-section" >
             <ng-include src="'common/views/patientInfoPrint.html'"></ng-include>
            </section>   
</div>   
<h2  class="section-title">{{::title | translate}}</h2>
<div ng-repeat="observationGroup in observationsForSelectedForm">
    <table>
        <thead>
        <tr class="headerRow">
            <th colspan="3"><span class="obs-value">{{observationGroup.conceptSetName}}</span></th>
        </tr>
        </thead>

        <tbody>
        <tr class="row-click"
            ng-repeat-start="observation in observationGroup.groupMembers"
            ng-class="{true: 'is-abnormal'}[observation.abnormalObs.value]">
            <td class="name">
                <span class="obs-value">{{observation.label}}</span>
            </td>
            <td class="value has-toggle-btn" data-ng-switch="observation.concept.conceptClass">
                <img data-ng-switch-when="Image" ng-src="{{observation.value|thumbnail}}" width="100">
                <span data-ng-switch-when="Unknown" class="obs-value">
                                {{::(observation.concept.shortName || observation.concept.name)}}
                            </span>
                <span data-ng-switch-default class="obs-value"><pre class="chief-notes">{{observation | observationValue}} {{observation.concept.units}}</pre></span>

                <div class="footer-note">
                                    <span class="time-stamp">
                                        <span class="time">{{observation.observationDateTime | bahmniTime}}</span>
                                    </span>
                    <span class="provider" bindonce="observation"
                          bo-text="observation.provider.name"></span>
                </div>
            </td>
            <td class="toggle-btn">
                <button class="toggle fr" ng-if="observation.comment" toggle="observation.showComment"
                        ng-class="{'has-notes': observation.comment}">
                    <i class="fa fa-plus-circle" ng-hide="observation.showComment"></i>
                    <i class="fa fa-minus-circle" ng-show="observation.showComment"></i>
                </button>
            </td>
        </tr>
        <tr ng-repeat-end ng-if="observation.comment" ng-show="observation.showComment">
            <td class="notes inline-notes" colspan="3">{{observation.comment}}</td>
        </tr>
        </tbody>
    </table>
</div>
<footer>
    <div style="margin-top: 10mm; float:right;">
        <p> {{currentDate | bahmniDateTime}}</p>
      </div>
</footer>
</body>
</html>
