<html>
<head>
</head>
<body>
<h1> Department's Information Need to be updated</h1>
<br>
<br>
 <table class="">
        <tr>
            <th><strong>Department Name</strong></th>
            <th><strong>Department Information</strong></th>
        </tr>
        <tr>
           <td>Departmenr ABC</td>
           <td>Departmenr ABC Information</td>
        </tr>
        <tr>
           <td>Departmenr LMN</td>
           <td>Departmenr LMN Information</td>
        </tr>
        <tr>
           <td>Departmenr XYZ</td>
           <td>Departmenr XYZ Information</td>
        </tr>
        <tr>
           <td>Departmenr IJK</td>
           <td>Departmenr IJK Information</td>
        </tr>
    </table>
</body>
</html>
