<html>
<head>
</head>
<body>
<h1> Doctor's Information Need to be updated</h1>
<br>
<br>
 <table class="">
        <tr>
            <th><strong>Doctor Name</strong></th>
            <th><strong>Doctor Information</strong></th>
        </tr>
        <tr>
           <td>DR. ABC</td>
           <td>DR. ABC Information</td>
        </tr>
        <tr>
           <td>DR. LMN</td>
           <td>DR. LMN Information</td>
        </tr>
        <tr>
           <td>DR. XYZ</td>
           <td>DR. XYZ Information</td>
        </tr>
        <tr>
           <td>DR. IJK</td>
           <td>DR. IJK Information</td>
        </tr>
    </table>
</body>
</html>
