<!--<ui-view/>-->
<div id="bedManagement" class="bed-management">
    <div class="left-pane">
        <h6>{{'PATIENT_DETAILS_KEY' | translate}}</h6>
        <div class="admitted-patient-info clearfix">
            <p class="patient-attributes">
                <label>{{'PATIENT_ID_KEY' | translate}}</label>
                <a ng-click="goToAdtPatientDashboard()">{{ patient.identifier }}</a>
            </p>
                <p class="patient-attributes">
                <label>{{'PATIENT_NAME_KEY' | translate}}</label>
                <a ng-click="goToAdtPatientDashboard()">{{ patient.name }}</a>
            </p>
            <p class="patient-attributes">
                <label>{{'AGE_KEY' | translate}}</label>
                <span>{{ patient.age }}</span>
            </p>
            <p class="patient-attributes">
                <label>{{'GENDER_KEY' | translate}}</label>
                <span ng-show="patient.gender == 'M'">{{'GENDER_MALE_KEY' | translate}}</span>
                <span ng-show="patient.gender == 'F'">{{'GENDER_FEMALE_KEY' | translate}}</span>
                <span ng-show="patient.gender == 'O'">{{'GENDER_OTHER_KEY' | translate}}</span>
            </p>
        </div>
        <adt patient="patient" encounterConfig="encounterConfig" bed="bed"></adt>
        <h6>{{'BED_DETAILS_KEY' | translate}}</h6>
        <div class="patient-bed-details clearfix">
            <p class="patient-attributes">
                <label>{{'DEPARTMENT_KEY' | translate}}</label>
                <span>{{ward.name}}</span>
            </p>
            <p class="patient-attributes">
                <label>{{'LOCATION_KEY' | translate}}</label>
                <span>{{$root.selectedBedInfo.roomName}}</span>
            </p>
            <p class="patient-attributes">
                <label>{{'ROOM_BED_KEY' | translate}}</label>
                <span>{{$root.selectedBedInfo.bed.bedNumber}}</span>
            </p>
            <p class="patient-attributes">
                <label>{{'STATUS_KEY' | translate}}</label>
                <span>{{$root.selectedBedInfo.bed.status | translate}}</span>
            </p>
            <div class="patient-attributes">
                <label>{{'TAGS_KEY' | translate}}</label>
                <span class="bed-tags-wrapper">
                    <span class="bed-tags-preview" ng-repeat="tag in $root.selectedBedInfo.bed.bedTagMaps">
                        {{tag.bedTag.name}}
                    </span>
                </span>
                <a ng-click="editTagsOnTheBed()" show-if-privilege="{{editTagsPrivilege}}" ng-if="canEditTags()">{{'EDIT_KEY' | translate}}</a>
            </div>
        </div>
    </div>

</div>
<div class="right-pane">
    <div class="bed-management-header clearfix">
        <h6 style=" display: inline-block;">{{'ADMISSION_MASTER' | translate}}</h6>
        <select ng-options="option.ward.name +' [ Occupied('+ option.occupiedBeds + ') Available('+ (option.totalBeds - option.occupiedBeds)+ ') ]' for option in wards"
        ng-change="onSelectDepartment(selectedward.ward);"
        ng-disabled="ngDisabled"
        ng-class="{'selected': option.ward.isSelected}"
        ng-model="selectedward">
</select>&emsp; &emsp; &emsp; &emsp;
<div style=" display: inline-block;" class="room" ng-if="departmentSelected">
            <h6 style=" display: inline-block;">{{'Room_View' | translate}}</h6>
            <select ng-options="room.name + '[ Occupied(' + (room.totalBeds - room.availableBeds) + ') Available('+ (room.availableBeds) + ') ]' for room in ward.rooms"
            ng-change="onSelectRoom(selectedroom.name)"
            ng-disabled="ngDisabled"
            ng-class="{'room-selected': activeRoom == room.name}"
            ng-model="selectedroom">
    </select>   
</div>
<div id="bedLayout" ng-if="roomSelected">
        <room room="room"></room>
</div>

</div>
</div>
