@charset "UTF-8";

html {
  direction: rtl;
}

/*BAHMNI css files*/
@import "vendor-rtl/normalize";

@import "bahmni-helper-rtl/variables";
@import "bahmni-helper-rtl/base";
@import "bahmni-helper-rtl/fonts";
@import "bahmni-helper-rtl/font-awesome";
@import "bahmni-helper-rtl/custom-fonts";

@import "bahmni-components-rtl/grid";
@import "bahmni-components-rtl/uiHelper";
@import "bahmni-components-rtl/loader";
@import "bahmni-components-rtl/header";
@import "bahmni-components-rtl/navigation";
@import "bahmni-components-rtl/forms";
@import "bahmni-components-rtl/buttons";
@import "bahmni-components-rtl/autoComplete";
@import "bahmni-components-rtl/inPageTabs";
@import "bahmni-components-rtl/ngDialog";
@import "bahmni-components-rtl/gallery";
@import "bahmni-components-rtl/templateController";
@import "bahmni-components-rtl/patientControlPanel";
@import "bahmni-components-rtl/tooltip";
@import "bahmni-components-rtl/splitButton";
@import "bahmni-components-rtl/table";
@import "bahmni-components-rtl/typography";

@import "clinical-rtl/clinicalIndex";

@import "common-rtl/bahmniGlobal";
@import "common-rtl/confirmBox";
@import "common-rtl/notifications";
@import "common-rtl/directives";
@import "common-rtl/angularFix";
@import "common-rtl/mobileHeader";

@import "bahmni-layout-rtl/layout";
@import "bahmni-layout-rtl/retroMode";

@import "document-upload-rtl/upload";

@import "adt-rtl/adt";
@import "adt-rtl/wardLayout";

@import "ot-rtl/ot";
@import "ot-rtl/otSurgical";
@import "ot-rtl/otCalendar";
@import "ot-rtl/otWeeklyCalendar";

@import "admin-rtl/admin";

@import "common-rtl/noTouch";

@import "clinical-rtl/patientSearchDesktop";
@import "clinical-rtl/observationsDesktop";
@import "clinical-rtl/_draggableDiv";

//@import "clinical/treatmentDesktop";
@import "clinical-rtl/drugOrderTemplate";

@import "reports-rtl/reports";

@import "bedmanagement-rtl/bedmanagement";
@import "bedmanagement-rtl/wardLayout";

.form-builder-row .form-builder-column-wrapper .form-builder-column .form-field-wrap .form-builder-comment-toggle {
  right: initial !important;
  left: 0 !important;
} 

.form-control-buttons {
  float: none !important;
  margin-right: 10px;
}

.form-builder-row .form-builder-column-wrapper .form-builder-column .form-field-wrap input[type="date"], .form-builder-row .form-builder-column-wrapper .form-builder-column .form-field-wrap input[type="time"] {
  float: none !important;
}

.form-builder-row .form-builder-column-wrapper .form-builder-column .form-field-wrap .obs-control-field textarea {
  width: 70%;
  float: none !important;
}

.form-builder-row .form-builder-column-wrapper .form-builder-column legend {
  padding: 2px 10px;
  color: #666;
  border: 1px solid #999;
  border-radius: 20px;
  text-transform: none;
  font-size: 12px;
  background: #FFF;
  position: absolute;
  top: -11px;
  right: 10px;
}

.form-builder-row .form-builder-column-wrapper .form-builder-column .abnormal-button {
  margin-right: 10px;
  float: none !important;
  line-height: 1;
}
