@charset "UTF-8";

@import "clinical";
@import "print";

.dashboard-sections-wrapper .dashboard-sections.halfpage-container {
  width: 100%;
}

#printrow #fromPrint  {
  float: right;
}
#printrow #fromtext {
  float: left;
}
#printrow #fromtext h2{
  text-align: left;
}
